body {
	text-align: center;
	background-color: #F8FEFA;
	color: #565656
}

.first-container {
	padding: 20px
}

.second-container {
	width: 75%;
	margin-left: auto;
    margin-right: auto;

}

.portrait {
	width: 60%;
}

.img-circle {
	border-radius: 50%;
	width: 25%;
}

p.thick {
	font-weight: 900;
}


img.food {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 2%;
}

.empty-container {
	height: 30px;
}

.sixth-container {
	background-color: #BBE7C3;
	padding: 40px;
}

.seventh-container {
	width: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa {
	font-size: 28px;
	color: #565656;
}

@media only screen and (max-width: 767px) {
	.portrait {
		width: 70%;
	}

	.third-container {
		margin-bottom: 20px;
	}

	.fourth-container {
		margin-bottom: 20px;
	}
}



